/* styles.css */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.list-group-item {
  color: aliceblue;
}

.titulo {
  padding-top: 20px;
}

.cards,
.copy {
  margin-top: 50px;
}

.copy {
  text-align: center;
}
