<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="time-heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTime" aria-expanded="true" aria-controls="collapseTime">
                DURACIÓN DEL PARTIDO
            </button>
        </h2>
        <div id="collapseTime" class="accordion-collapse collapse show" aria-labelledby="time-heading" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>1. Los partidos tendrán una duración total de 40'.</li>
                    <li>2. Estarán divididos en 2 tiempos de 20´ cada uno.</li>
                    <li>3. Entre cada tiempo habrá un descanso de 5´.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="inicio-game-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInicioGame" aria-expanded="false" aria-controls="collapseInicioGame">
                INICIO Y REANUDACIÓN DEL JUEGO
            </button>
        </h2>
        <div id="collapseInicioGame" class="accordion-collapse collapse" aria-labelledby="inicio-game-heading" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h6>SAQUE DE SALIDA</h6>
                <div>
                    <ul>
                        <li>1. No se podrá marcar un gol del saque del medio.</li>
                        <li>2. Todos los jugadores se deberán encontrar en su mitad de campo.</li>
                        <li>3. Se deberá mantener una distancia de 3 mts para dejar jugar el balón.</li>
                        <li>4. El árbitro dará la señal para jugar.</li>
                        <li>5. Se deberá jugar hacia atrás.</li>
                        <li>6. Lo puede realizar un solo jugador.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>