{% include 'sitio/head.html'%}
    <h1 class="titulo text-center"> Torneo ex Alumnos Santa Teresita</h1>
    <div class="cards text-center border">
    <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header">Ingreso al Colegio</div>
        <div class="card-body">
          <h4 class="card-title">A las 19.00 hs</h4>
          <p class="card-text">(Entrada en calor y completar la planilla de juego.)</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header">Horarios</div>
        <div class="card-body">
          <p class="card-text">Horarios: 19.10 hs.- A(GIM) / B (PATIO) 20.00 hs.- C (GIM) / D (PATIO) 20.50 hs.- E (GIM)</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header">SERÁ OBLIGATORIO</div>
        <div class="card-body">
          <p class="card-text">USO DE CAMISETA IDENTIFICATORIA CON NUMERACIÓN NO REPETIDA, PANTALON CORTO, MEDIAS Y
            DE SER POSIBLE CANILLERAS. EL TORNEO ES EXCLUSIVO PARA EXALUMNOS DEL SANTA Y DOCENTES DE EXALUMNOS</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header">PREMIOS</div>
        <div class="card-body">
          <p class="card-text">“MEDALLAS AL CAMPEON, PREMIO A LA VALLA MENOR VENCIDA Y AL GOLEADOR”</p>
        </div>
      </div>

      <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-body">
          <p class="card-text">SOLICITAMOS POR FAVOR CUIDAR TODAS LAS INSTALACIONES DEL COLEGIO, NOTIFICANDO QUE QUEDA PROHIBIDO EL
            FUMAR DENTRO DEL ESTABLECIMIENTO</p>
        </div>
      </div>
    </div>
{%include 'sitio/footer.html'%}